body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
	width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background:#8F7CFF;
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.3);
	transition: color 0.2s ease-in-out;
	border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #7c66f8;
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.3);
}

::selection {
	background-color: #8F7CFF;
}